header {
	background-image: url(../img/header.jpg);
	background-size: cover;
	height: 400px;
	

}
menu {
	background: rgba(72, 52, 42,0.7);
	display:flex;
	justify-content: center;
}

header .container {

	display:flex;
	justify-content: space-between;
}


header nav {
display:flex;

}

header nav ul  {
display: flex;
column-gap:5px;
}


header nav ul li  {
	display:flex;
}

header nav ul li a  {
	color:white;
	font-size: 20px;
	font-weight:bold;
	display:flex;
	align-items: center;
	text-decoration:none;
	padding: 0 10px ;

}

header nav ul li a:hover {
background:rgb(255, 255, 255,0.20);

}