#content {
    padding-bottom: 3em;
}

#content h1 {
    font-size: 5em;
    text-align: center;
    margin: 0.5em 0;
}

#content p {
    font-size: 1.4em;
    line-height: 150%;
    text-align: justify;
    text-indent: 1em;
}

/* DOMU - onas */
#content > .domu .onas {
    display: flex;
    justify-content: center;
}

#content > .domu .onas .boxy {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
#content > .domu .onas .boxy .karta {
    flex-basis: 0;
    text-align: center;
}
#content > .domu .onas .boxy .karta h2 {
    font-size: 2em;
    margin: 1em 0;
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 10px;
}
#content > .domu .onas .boxy .karta a {
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    display: inline-block;
    margin-top: 3em;
    transition: all 0.2s ease;
}
#content > .domu .onas .boxy .karta a:hover {
    border: 1px solid black;
}
#content > .domu .onas .boxy .karta a i {
    margin-left: 1em;
    transition: all 0.2s ease;
}
#content > .domu .onas .boxy .karta a:hover i {
    transform: translateX(10px);
}

@media (max-width: 1035px) {
    #content > .domu .onas .boxy {
        flex-direction: column;
        row-gap: 4em;
    }
    #content > .domu .onas .boxy .karta {
        display: flex;
        column-gap: 2em;
    }
    #content > .domu .onas .boxy .karta h2 {
        margin-top: 0;
    }
}
@media (max-width: 650px) {
    #content > .domu .onas .boxy .karta {
        flex-direction: column;
        align-items: center;
    }
    #content > .domu .onas .boxy .karta h2 {
        margin-top: 1em;
    }
}

/* DOMU - akce */
#content > .domu .akce {
    display: flex;
    margin-top: 3em;
}
#content > .domu .akce .levy {
    width: 50%;
    background: #A0785D;
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    text-align: right;
    color: white;
}
#content > .domu .akce .levy .boxy {
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}
#content > .domu .akce .levy .boxy h2 {
    font-size: 2em;
    margin: 0.5em 0;
}

#content > .domu .akce .pravy {
    width: 50%;
    background: url(../img/zrnka-kavy.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
}
#content > .domu .akce .pravy .lista {
    background: rgb(160, 120, 93, 0.7);
    width: 100px;
}

@media (max-width: 700px) {
    #content > .domu .akce .pravy {
        width: 20%;
    }
    #content > .domu .akce .pravy .lista {
        display: none;
    }
    #content > .domu .akce .levy {
        width: 80%;
    }
}

/* DOMU - tip */
#content > .domu .tip {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
#content > .domu .tip .container {
    display: flex;
    column-gap: 50px;
    align-items: center;
}
#content > .domu .tip .container .fotky {
    display: flex;
    column-gap: 50px;
}
#content > .domu .tip .container .fotky img {
    box-shadow: 15px 15px #805F49;
}
#content > .domu .tip .container .text h2 {
    font-size: 2em;
}
#content > .domu .tip .container .text p {
    margin-top: 1em;
    font-size: 1.2em;
}
@media (max-width: 1000px) {
    #content > .domu .tip .container {
        flex-direction: column;
        row-gap: 50px;
        align-items: initial;
    }
    #content > .domu .tip .container .fotky {
        justify-content: space-evenly;
    }
    #content > .domu .tip .container .fotky img {
        width: 30vw;
        height: 45vw;
    }
}

/* NABIDKA - obsah */
#content > .nabidka .obsah {
    display: flex;
    justify-content: center;
}

#content > .nabidka .obsah .boxy {
    margin-top: 3em;
}
#content > .nabidka .obsah .boxy .karta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}
#content > .nabidka .obsah .boxy .karta .obrazek {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "obrazek";
    align-items: center;
    justify-items: center;
}
#content > .nabidka .obsah .boxy .karta .obrazek h2 {
    grid-area: obrazek;
    z-index: 1;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 5px black;
    text-transform: uppercase;
}
#content > .nabidka .obsah .boxy .karta .obrazek img {
    grid-area: obrazek;
}
#content > .nabidka .obsah .boxy .karta .cenik {
    line-height: 150%;
    font-size: 1.3em;
}
#content > .nabidka .obsah .boxy .karta .cenik th {
    text-align: right;
    font-weight: bold;
    padding-right: 1em;
}
#content > .nabidka .obsah .boxy .karta .cenik td {
    text-align: right;
}
@media (max-width: 1000px) {
    #content > .nabidka .obsah .boxy .karta {
        flex-direction: column;
        row-gap: 1em;
    }
}
@media (max-width: 550px) {
    #content > .nabidka .obsah .boxy .karta .obrazek img {
        width: 90vw;
        height: 60vw;
    }
    #content > .nabidka .obsah .boxy .karta .obrazek h2 {
        font-size: 10vw;
    }
}

/* GALERIE - obsah */
#content > .galerie .obsah {
    display: flex;
    justify-content: center;
}
#content > .galerie .obsah .fotky {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3em;
    justify-content: center;
}

/* REZERVACE - obsah */
#content > .rezervace .obsah {
    display: flex;
    justify-content: center;
}
#content > .rezervace .obsah .kontakt {
    margin-top: 3em;
    text-align: center;
    line-height: 150%;
    font-size: 1.2em;
}
#content > .rezervace .obsah .kontakt a {
    text-decoration: none;
    color: #805F49;
}
#content > .rezervace .obsah .kontakt a:hover {
    text-decoration: underline;
}

#content > .rezervace .obsah .formular {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
#content > .rezervace .obsah form {
    width: 80%;
}
#content > .rezervace .obsah .formular .radka {
    position: relative;
    margin-top: 1em;
}
#content > .rezervace .obsah form .prvek {
    width: 100%;
    font-size: 2em;
    padding: 0.3em;
    padding-top: 1em;
    transition: all 0.2s ease;
    font-family: Arial;
}
#content > .rezervace .obsah form .prvek:placeholder-shown {
    padding-top: 0.3em;
}
#content > .rezervace .obsah form label {
    position: absolute;
    top: 0.5em;
    left: 15px;
    color: #805F49;
    font-weight: bold;
    transition: all 0.2s ease;
}
#content > .rezervace .obsah form .prvek:placeholder-shown + label {
    font-size: 2em;
    color: rgb(187, 187, 187);
}
#content > .rezervace .obsah form button {
    border-radius: 10px;
    padding: 1em 2em;
    font-size: 1.3em;
    font-weight: bold;
}
#content > .rezervace .obsah h2 {
    margin-top: 3em;
    font-size: 2em;
    text-align: center;
}

/* KONTAKT - info */
#content > .kontakt .info {
    display: flex;
    justify-content: center;
}

#content > .kontakt .info .informace {
    display: flex;
    justify-content: space-around;
    line-height: 150%;
    font-size: 1.2em;
}

#content > .kontakt .info .informace h2 {
    font-size: 2em;
    margin: 0.5em 0;
}
#content > .kontakt .info .informace a {
    text-decoration: none;
    color: #805F49;
}
#content > .kontakt .info .informace a:hover {
    text-decoration: underline;
}
#content > .kontakt .info .informace .otevreno th {
    text-align: right;
    font-weight: bold;
    padding-right: 1em;
}

#content > .kontakt .mapa {
    margin-top: 3em;
}

#content > .kontakt .obsah {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

#content > .kontakt .obsah h2 {
    font-size: 2em;
    margin: 0.5em 0;
    text-align: center;
}
#content > .kontakt .obsah .formular {
    display: flex;
    justify-content: center;
}
#content > .kontakt .obsah form {
    width: 80%;
}
#content > .kontakt .obsah .formular .radka {
    position: relative;
    margin-top: 1em;
}
#content > .kontakt .obsah form .prvek {
    width: 100%;
    font-size: 2em;
    padding: 0.3em;
    padding-top: 1em;
    transition: all 0.2s ease;
    font-family: Arial;
}
#content > .kontakt .obsah form .prvek:placeholder-shown {
    padding-top: 0.3em;
}
#content > .kontakt .obsah form label {
    position: absolute;
    top: 0.5em;
    left: 15px;
    color: #805F49;
    font-weight: bold;
    transition: all 0.2s ease;
}
#content > .kontakt .obsah form .prvek:placeholder-shown + label {
    font-size: 2em;
    color: rgb(187, 187, 187);
}
#content > .kontakt .obsah form button {
    border-radius: 10px;
    padding: 1em 2em;
    font-size: 1.3em;
    font-weight: bold;
}

/* Stranka neexistuje */
#content > .stranka-neexistuje .obrazek {
    display: flex;
    justify-content: center;
}
