section {
    padding-bottom: 3em;
}

section h1 {
    font-size: 5em;
    text-align: center;
    margin: 0.5em 0;
}

section p {
    font-size: 1.4em;
    line-height: 150%;
    text-align: justify;
    text-indent: 1em;
}

/* DOMU - onas */

section>.domu .onas {
    display: flex;
    justify-content: center;
}

section>.domu .onas .boxy {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

section>.domu .onas .boxy .karta {
    flex-basis: 0;
    text-align: center;
}

section>.domu .onas .boxy .karta h2 {
    font-size: 2em;
    margin: 1em 0;
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 10px;
}

section>.domu .onas .boxy .karta a {
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    display: inline-block;
    margin-top: 3em;
    transition: all 0.2s ease;
}

section>.domu .onas .boxy .karta a:hover {
    border: 1px solid black;
}

section>.domu .onas .boxy .karta a i {
    margin-left: 1em;
    transition: all 0.2s ease;
}

section>.domu .onas .boxy .karta a:hover i {
    transform: translateX(10px);
}

@media (max-width: 1035px) {
    section>.domu .onas .boxy {
        flex-direction: column;
        row-gap: 4em;
    }

    section>.domu .onas .boxy .karta {
        display: flex;
        column-gap: 2em;
    }

    section>.domu .onas .boxy .kart h2 {
        margin-top: 0;

    }

}

@media (max-width: 650px) {
    section>.domu .onas .boxy .karta {
        flex-direction: column;
        align-items: center;

    }

    section>.domu .onas .boxy .karta {
        margin-top: 1em;

    }

}

/* DOMU - AKCE */

section>.domu .akce {
    display: flex;
    margin-top: 3em;
}

section>.domu .akce .levy {
    width: 50%;
    background: #a0785D;
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    text-align: right;
    color: white;
}

section>.domu .akce .levy .boxy {
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;

}

section>.domu .akce .levy .boxy h2 {
    font-size: 2em;
    margin: 0.5em 0;
}





section>.domu .akce .pravy {
    width: 50%;
    background: url(../img/zrnka-kavy.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;

}

section>.domu .akce .pravy .lista {
    background: rgb(161, 121, 94, 0.7);
    width: 100px;
}

@media (max-width: 700px) {
    section>.domu .akce .pravy {
        width: 20%;
    }

    section>.domu .akce .lista {
        display: none;
    }

    section>.domu .akce .levy {
        width: 80%;
    }
}

/* DOMU - tip */

section>.domu .tip {
    display: flex;
    justify-content: center;
    margin-top: 3em;


}

section>.domu .tip .container {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

section>.domu .tip .container .fotky {
    display: flex;
    column-gap: 50px;
}

section>.domu .tip .container .fotky img {
    box-shadow: 15px 15px #805F49;
}


section>.domu .tip .container .text h2 {
    font-size: 2em;
}

section>.domu .tip .container .text p {
    margin-top: 1em;
    font-size: 1.2em;
}
@media (max-width: 1000px) {
    section > .domu .tip .container {
        flex-direction: column;
        row-gap: 50px;
        align-items: initial;
    }
    section > .domu .tip .container .fotky {
        justify-content: space-evenly;
    }
    section > .domu .tip .container .fotky img {
        width: 30vw;
        height: 45vw;
    }
}